:root {
  --ifm-color-primary: #285e9a;
  --ifm-color-primary-dark: #24558b;
  --ifm-color-primary-darker: #225083;
  --ifm-color-primary-darkest: #1c426c;
  --ifm-color-primary-light: #2c67a9;
  --ifm-color-primary-lighter: #2e6cb1;
  --ifm-color-primary-lightest: #347bc8;
  --ifm-font-family-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  --ifm-code-font-size: 90%;
  --ifm-heading-font-weight: 600;
}
[data-theme='dark'] {
  --ifm-color-primary: #79b4f5;
  --ifm-color-primary-dark: #58a1f3;
  --ifm-color-primary-darker: #4798f1;
  --ifm-color-primary-darkest: #157bef;
  --ifm-color-primary-light: #9ac7f7;
  --ifm-color-primary-lighter: #abd0f9;
  --ifm-color-primary-lightest: #dcebfc;
  --ifm-background-color: #18191b;
  --ifm-navbar-background-color: #202124;
  --ifm-footer-background-color: #202124;
}
.markdown h1:first-child { --ifm-h1-font-size: 2.2rem; }
.theme-doc-markdown table { display: block; overflow-x: auto; }
